.card__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  list-style: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  max-width: 282px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.card__image {
  height: 282px;
  width: 282px;
  cursor: pointer;
  object-fit: cover;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card__title {
  max-width: 220px;
  color: black;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/like-button-inactive.svg) center
    no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  transition: opacity 0.2s linear;
}
.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url(../images/like-button-active.svg);
} 

.card__delete-button {
  background: transparent url(../images/delete-button.svg) center no-repeat;
  position: absolute;
  width: 18px;
  height: 19.3px;
  border: none;
  top: 18px;
  right: 15px;
}

.card__delete-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card__preview-image {
  max-width: 75vw;
  max-height: 75vh;
  height: 100%;
  object-fit: cover;
}