.footer {
  padding: 67px 0 60px 0;
    display: flex;
  }
  
  .footer__copyright {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #545454;
    margin: 0;
  }
  
  @media screen and (min-width: 320px) and (max-width: 760px) {
    .footer {
      padding: 48px 0 36px;
      max-width: 282px;
    }
  
    .footer__copyright {
      font-size: 14px;
      line-height: 17px;
    }
  }