.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0 19px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  background-color: white;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
  position: relative;
  width: 100%;
  max-width: 430px;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
}

.modal__close {
  background-image: url(../images/close-icon.svg);
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  cursor: pointer;
  transition: 0.5s ease-in;
  padding: 0;
}

.modal__close:hover {
  opacity: 0.6;
  transition: 0.5s;
  cursor: pointer;
}

.modal__heading {
  color: black; 
  font-size: 24px;
  line-height: normal; 
  font-weight: 900;
  max-width: 300px;
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  height: 27px;
  width: 100%;
  border: none;
  border-bottom: rgba(0, 0, 0, 0.2) 1px solid;
  outline: none;
  box-sizing: border-box;
  font-size: 14px;
  line-height: normal;
  margin-bottom: 10px;
  margin-top: 30px;
  font-weight: 400;
  font-family: "Inter", Arial, sans-serif;
}

.modal__button {
  font-family: "Inter", Arial, sans-serif;
  height: 50px;
  line-height: 22px;
  font-size: 18px;
  font-weight: 400;
  background-color: #000;
  color: #fff;
  margin-top: 48px;
  cursor: pointer;
  border-radius: 2px;
}

.modal__button:hover {
  visibility: visible;
  opacity: 0.5;
  transition: opacity 1s ease;
  cursor: pointer;
}

.modal__preview-image {
  position: relative;
  background-color: transparent;
  margin: auto;
  color: #fff;
}

.modal__preview-close {
  position: absolute;
  cursor: pointer;
  bottom: calc(100% + 7px);
  left: calc(100% + 7px);
  width: 40px;
  height: 40px;
  background-image: url(../images/close-icon.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}

.modal__preview-name {
  margin: 10px 0 0;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.modal__input_type_error {
  border-bottom: 1px solid red;
  outline: none;
}

.modal__error {
  color: red;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  padding-bottom: 0px;
  line-height: 1.25;
  letter-spacing: 0em;
  text-align: left;
  display: inline-block;
  margin-bottom: 5px;
}

.modal__error_visible {
  visibility: visible;
}

.modal__button_disabled {
  opacity: 20%;
  background-color: #f6f6f6;
  color: #000;
}

@media screen and (max-width: 568px) {
  .modal__button {
    font-size: 14px;
    line-height: 17px;
    height: 46px;
    margin-top: 45px;
  }

  .modal__close {
    height: 26px;
    width: 26px;
    bottom: calc(100% + 13px);
    left: calc(100% - 30px);
  }

  .modal__container {
    width: 100%;
    padding: 25px 22px;
    max-width: calc(100% - 19px * 2);
  }

  .modal__heading {
    font-size: 18px;
    line-height: 22px;
  }

  .modal__form {
    margin-top: 53px;
  }

  .modal__preview-close {
    width: 30px;
    height: 30px;
    bottom: calc(100% + 5px);
    left: calc(100% + 5px);
  }
}
