.page {
    background-color: black;
    color: white;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin: auto;
    max-width: 880px;
}

.page__content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
}

.page__section {
    max-width: 880px;
    width: 100%;
    position: relative;
    margin: 0 auto;
}